@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #020012;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header {
  height: 10vh;
}
main {
  height: 90vh;
}

nav {
  width: 100%;
  height: 100%;

  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: white;
  font-size: 1.8em;
}
nav img {
  width: 45px;
  height: 45px;
  transition: 1s;
  z-index: 1;
}
.white {
  filter: invert(1);
}
.black {
  filter: invert(0);
}
.move {
  animation: ro 1s linear infinite;
}

@keyframes ro {
  0% {
    transform: translateX(0px);
    transform: rotate(0deg);
  }
  100% {
    transform: translateX(-1000px);
    transform: rotate(359deg);
  }
}

.back {
  animation: do 1s linear;
}

@keyframes do {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hidenav {
  top: 0px;
  left: -150%;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  transition: 1s;
}
.shownav {
  transition: 1s;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.laag {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
select {
  margin: 2vh 0;
  width: 80vw;
  height: 8vh;
  background-color: white !important;
  text-align: center !important;
  font-size: 2em;
  border: 3px solid #ff1818;
  border-radius: 50px !important;
  color: #020012 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="button"] {
  margin: 2vh 0;
  height: 8vh;
  background-color: #ff1818;
  text-align: center;
  font-size: 2em;
  border: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px !important;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup {
  width: 100%;
  height: 10%;
  color: white;
  background-color: #00a800;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: -150%;
  transition: 1s;
}

.toonpopup {
  left: 0;
  transition: 1s;
}
.closepopup {
  left: -1500;
  transition: 1s;
}

.cont {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: 0;
  color: black;
}
